.top {
	position: fixed;
	top: 0;
	left: -10%;
	height: 60px;
	width: 120%;
    padding-left: 11%;
    padding-right: 11%;
	background-color: rgb(33, 133, 208);
    color: white;
	z-index: 2;
    box-shadow: -1px 10px 28px -13px rgba(0,0,0,0.75);
}

.body {
    padding: 40px;
    padding-top: 100px;
}

.langBox {
    padding-right: 10px;
    padding-left: 10px;
}

.centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50pt;
	line-height: 100%;
	text-align: center;
	width: 100%;
	color: white;
	text-shadow: 5px 5px 10px #000000;
}

.menuItem
{
	text-shadow: 0px 0px 3px #000000;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 5px solid rgb(0, 100, 255);
	color: white;
	float: left;
	font-size: 11pt;
	font-weight: bold;
	margin-right: 20px;
	height: 30px;
	cursor: pointer;
    white-space: nowrap;
}

.menuItem:hover {
	border-bottom: 5px solid rgb(0, 200, 255);
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.message {
    margin: 5px !important;
}