@using ProjektGrupowy.Models.Core;

<style>
    .loginFormTable td {
        padding: 10px;
    }
</style>

<div class="header">
    <h4>@ProjektGrupowy.Resources.Labels.Login</h4>
</div>
<form class="ui form loginForm" method="post">
    <table style="width:100%" class="loginFormTable">
        <tr>
            <td>@ProjektGrupowy.Resources.Labels.Email</td>
            <td>
                <div class="ui input mini">
                    <input name="Email" type="text">
                </div>
            </td>
        </tr>

        <tr>
            <td>@ProjektGrupowy.Resources.Labels.Password</td>
            <td>
                <div class="ui input mini">
                    <input name="Pass" type="password">
                </div>
            </td>
        </tr>
    </table>

    <div class="errors"></div>

    <div class="actions">
        <button type="submit" class="ui blue button mini">
            @ProjektGrupowy.Resources.Labels.Login
        </button>
    </div>
</form>

