@model ProjektGrupowy.Models.Game.Definitions.GameDefinition



<div style="padding: 10px">
    @foreach (var elDef in Model.Elements)
    {
        <div class="sheetContainer" id="@(elDef.Id)">

        </div>
    }
</div>